body {
    background-color: #ffffff;
    font-family: "Open Sans", sans-serif;
    font-size: 14pt;
    line-height: 1.5;
    overflow-x: hidden;
}

h1 {
    font-family: "Lora", serif;
    margin: 0 auto;
    color: #eeb631;
}

a:link,
a:visited {
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    color: #0077ee;
}

.header {
    padding: 20px 0;
}

.main-header {
    text-align: center;
}

.navigation {
    display: inline;
    padding: 0px 20px 0px 20px;
}

.social-links {
    margin: 0 auto;
    border-radius: 3px;
    padding: 5px;
    color: #eeb631;
}

.hero-image {
    position: relative;
    height: 400px;
    width: 100vw;
    margin-left: -50vw;
    left: 50%;
    background-image: url("resources/img/header_img.jpg");
    background-size: cover;
    background-position: center center;
}

.about-me>.c8 {
    padding-right: 50px;
    box-sizing: border-box;
}

.btn {
    width: 400px;
    color: #ffffff !important;
    text-transform: uppercase;
}

.btn-text {
    padding: 0 5px;
}

.resume {
    text-align: center;
}

.footer {
    color: #999999;
    text-align: center;
}

@media (prefers-color-scheme:dark) {
    body {
        background-color: #333333;
        color: #ffffff;
    }
}

@media (max-width:720px) {
    .btn{
        width: 200px;
    }
    h1 {
        font-size: 30pt;
    }
    .header {
        padding: 10px 0;
    }
    .main-header {
        text-align: left;
    }
    .fab {
        width: 20px;
    }
    .navigation {
        display: block;
        margin: 20px 0;
        padding: 0px;
    }
    .about-me>.c8 {
        padding-right: 0px;
        box-sizing: border-box;
    }
}