body {
    background-color: #ffffff;
    font-family: "Open Sans", sans-serif;
    font-size: 14pt;
    line-height: 1.5;
    overflow-x: hidden;
}

#header {
    font-family: "Libre Baskerville", serif;
    margin: 0 auto;
    color: #eeb631;
    text-align: center;
}

a:link,
a:visited {
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    color: #0077ee;
}

.main-header {
    text-align: center;
}

.navigation {
    display: inline;
    padding: 0px 20px 0px 20px;
}

.social-links {
    margin: 0 auto;
    border-radius: 3px;
    color: #eeb631;
}

.hero-image {
    position: relative;
    height: 400px;
    width: 100vw;
    margin-left: -50vw;
    left: 50%;
    background-image: url("resources/img/header_img.jpg");
    background-size: cover;
    background-position: center center;
}

.profile-avatar{
    max-height: 100%;
    max-width: 100%;
    border-radius: 50%;
}

.desc-text {
    margin: 0 auto;
    padding-left: 4%;
    text-align: justify;
}

.btn {
    width: 400px;
    color: #ffffff !important;
    text-transform: uppercase;
}

.btn-text {
    padding: 0 5px;
}

.resume {
    text-align: center;
}

.footer {
    color: #999999;
    text-align: center;
}

/* Specific media queries and dark-theme related optimizations */
@media (prefers-color-scheme:dark) {
    body {
        background-color: #333333;
        color: #ffffff;
    }
}

/* Tablets */
@media (min-width:601px) and (max-width:869px) {
    .header {
        padding: 5px 0;
    }
    .main-header {
        text-align: left;
    }
    #header{
        text-align: left;
    }
    #sub-header{
        margin: 0 auto;
    }
    .resume{
        margin: 3% auto;
    }
    .btn{
        width: 500px;
    }
    h1 {
        font-size: 30pt;
    }
    .fab, .fas {
        text-align: center;
        width: 30px;
    }
    .navigation {
        display: block;
        padding: 0px;
    }
    .profile-avatar{
        margin: 0 auto;
        max-height: 30%;
        max-width: 30%;
    }
    .desc-text {
        padding: 0% 1%;
        text-align: justify;
    }
}

/* Smallest device available */
@media (max-width:600px) {
    .header {
        padding: 5px 0;
    }
    .main-header {
        text-align: left;
    }
    #header{
        text-align: left;
    }
    #sub-header{
        margin: 0 auto;
    }
    .resume{
        margin: 5% auto;
    }
    .btn{
        width: 300px;
    }
    h1 {
        font-size: 25pt;
    }
    .fab, .fas {
        text-align: center;
        width: 40px;
    }
    .navigation {
        display: block;
        padding: 0px;
    }
    .profile-avatar{
        max-height: 30%;
        max-width: 30%;
    }
    .desc-text {
        padding: 0% 1%;
        text-align: justify;
    }
}

/* Browser-specific optimization ahead. First up, Firefox. */
html {
    scrollbar-color: #eeb631 #4F4F4F;
    scrollbar-width: thin;
}

/* Then, Chromium-based browsers. */
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    background-color: #4F4F4F;
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: #eeb631;
}